@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
.text-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 7em;
}

.bg-title {
    background-image: linear-gradient(to bottom right, #ff008c, #00ffaa, #d9ff00);
    color: black;
}