@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.text-title {
    font-family: 'Pacifico', cursive;
    font-size: 7em;
}

.bg-title {
    background-image: linear-gradient(to bottom right, #7158e2, #18dcff);
    background: url('banner.jpg');
}

.form-control {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: #0b57a8;
}